%h2
  Edit #{t('.title', resource: resource_class.model_name.human)}
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.input :password, autocomplete: "off", required: false
    = f.input :password_confirmation, required: false
    = f.input :current_password, required: true
  .form-actions
    = f.button :submit, t('.update')
.div{style: "border: 5px solid red; border-radius: 15px; margin:25px 20%; padding:25px;"}
  %h3= t('.cancel_my_account')
  %p
    =link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm btn-outline btn-danger"
= link_to "Back", :back, class: "btn  btn-primary"
