
- model_class = Org
- provide(:title, model_class.model_name.human)

.page-header
  //%h1=t '.title', default: model_class.model_name.human.titleize
  %h1=model_class.model_name.human
  #notice= notice
.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:name)
    %dd
      %pre.prettyprint= @org.name

  -# Handle org_descriptions
  - if @org.org_descriptions.user_locale.count > 0 then
    %dl
      %dt.label.label-default Description
      %dd
        %pre.prettyprint=@org.org_descriptions.user_locale.first.description
  - elsif @org.org_descriptions.default_locale.count > 0 then
    %dl
      %dt.label.label-default Description
      %dd
        %pre.prettyprint=@org.org_descriptions.default_locale.first.description
  - elsif @org.org_descriptions.count > 0 then
    %dl
      %dt.label.label-default Description
      %dd
        %pre.prettyprint=@org.org_descriptions.first.description
  - else
    %pre.prettyprint No Description is available for this organization.

  -if can? :read, Membership
    %dl
      %dt.label.label-default
        - if can? :registrar, @org
          %em{:style => "color:red;"}
            = model_class.human_attribute_name(:memberships)
        - else
          = model_class.human_attribute_name(:memberships)
      %dd
        %ul
          - @org.memberships.each do |member|
            %li
              =member.user.name
              %span.badge=member.credibility


.form-group
  = link_to  orgs_path, class: 'btn btn-default' do
    = t('.back', default: t("helpers.links.back"))
    = glyph 'chevron-left'

  - if can? :update, @orgs
    = link_to edit_org_path(@org), class: 'btn btn-default' do
      = t('.edit', default: t("helpers.links.edit"))
      = glyph 'pencil'
  &nbsp;
  - if can? :manage, @orgs
    = link_to t('.destroy', default: t("helpers.links.destroy")), news_sources_path(@news_source), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
