- model_class = NewsSource
- provide(:title, 'News Source')

:scss
  #map {
    height: 400px;
    width: 100%;
  }

.page-header
  %h1=t '.title', default: model_class.model_name.human.titleize
.fieldset
  %dl
    .row
      .col-md-6
        %dt.label.label-default= model_class.human_attribute_name(:name)
        %dd
          %pre.prettyprint= @news_source.name
        %dt.label.label-default= model_class.human_attribute_name(:url)
        %dd
          %pre.prettyprint= @news_source.url
        %dt.label.label-default= model_class.human_attribute_name(:description)
        %dd
          %pre.prettyprint= @news_source.description
        %dt.label.label-default= model_class.human_attribute_name(:full_address)
        %dd
          %pre.prettyprint= @news_source.full_address
        .row
          .col-md-4
            %dt.label.label-default.dleft= model_class.human_attribute_name(:longitude)
            %dd
              %pre.prettyprint= number_with_precision(@news_source.longitude, precision: 5, significant: true)
          .col-md-4
            %dt.label.label-default= model_class.human_attribute_name(:latitude)
            %dd
              %pre.prettyprint= number_with_precision(@news_source.latitude, precision: 5, significant: true)
          .col-md-4
            %dt.label.label-default= model_class.human_attribute_name(:lang)
            %dd
              %pre.prettyprint= (t @news_source.lang, :scope => :languages).capitalize
        .row
          .col-md-12
            %dt.label.label-default= model_class.human_attribute_name(:category_tokens)
            %dd
              .token-box
                %ul
                  - @news_source.news_categories.each do |cat|
                    %li.token-input-token-facebook= cat.name

      .col-md-6
        - if @news_source.latitude? && @news_source.longitude?
          =map(:center => {:latlng => [@news_source.latitude, @news_source.longitude], |
               :zoom => 10},
               :markers => [{:latlng => [@news_source.latitude, @news_source.longitude]}])
        - else
          %H4 No location data available to build a map.
.form-group
  = link_to  news_sources_path, class: 'btn btn-default' do
    = t('.back', default: t("helpers.links.back"))
    = glyph 'chevron-left'

  - if can? :update, @news_sources
    = link_to edit_news_source_path(@news_source), class: 'btn btn-default' do
      = t('.edit', default: t("helpers.links.edit"))
      = glyph 'pencil'
  &nbsp;
  - if can? :manage, @news_sources
    = link_to t('.destroy', default: t("helpers.links.destroy")), news_sources_path(@news_source), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
