- provide(:title, "Home")
- if !user_signed_in?
  .center.jumbotron

    %h1 Welcome to the Is It True ? Application
    %h2
      This is the home page for the
      Is It True ? application.
    - if user_signed_in?
      %p
        Hello
        = current_user.email
    - else
      =link_to "Sign in now!", new_user_session_path, class: "btn btn-lg btn-primary"

  /NewsSources presentation
  - i = 0
  - backgroundColor = ['red', 'blue', 'green']
  - while !@news_sources.empty?
    /Element presentation
    - element = @news_sources.pop
    - i = i+1;
    .col-xs-5.col-sm-4.col-md-3
      %button.label.label-default{:type=>"button",
                          :style => "background-color: #{backgroundColor[i%3]};",
                          :data=>{:toggle=>"modal",
                          :target=>"#presentationModal",
                          "sourceUrl" => news_source_url(element, :format => :json)},
                          :id => "Button_#{i}"}
        =element.name

  %br
  #presentationModal.modal.fade{role:"dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{:data =>{:dismiss => :modal}}='&times'.html_safe;
          %h4.modal-title Modal header
        .modal-body
          #divRss

        .modal-footer
          %p Lorem ipsum...
- else
  %h1 User is logged in.
