= simple_form_for(@mes_truc, validate: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :artist
  .form-actions
    = f.button :submit
  -#= link_to t('.cancel', default: t("helpers.links.cancel")), mes_trucs_path)
