%h2= t('.sign_in')
= simple_form_for(resource, as: resource_name, url: session_path(resource_name), validate: true) do |f|
  .form-inputs
    = f.input :email, autofocus: true
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, t('.sign_in')
= render "devise/shared/links"
