- provide(:title, 'About')
%h2 About


.container
  .row
    %p This page will be completed soon.

    %p Original idea: Stéphanie Savard
    %p Optimised by: Yanik Crépeau

    %h2 Site technical info

    %h4 Server info:
    -if $deploy_version != 'local'
      %p This site runs on Heroku
      %pre
        ="HEROKU_APP_ID:               #{ENV['HEROKU_APP_ID']}"
        %br
        ="HEROKU_APP_NAME:             #{ENV['HEROKU_APP_NAME']}"
        %br
        ="HEROKU_DYNO_ID:              #{ENV['HEROKU_DYNO_ID']}"
        %br
        ="HEROKU_RELEASE_CREATED_AT:   #{ENV['HEROKU_RELEASE_CREATED_AT']}"
        %br
        ="HEROKU_RELEASE_VERSION:      #{ENV['HEROKU_RELEASE_VERSION']}"
        %br
        ="HEROKU_SLUG_COMMIT:          #{ENV['HEROKU_SLUG_COMMIT']}"
        %br
        ="HEROKU_SLUG_DESCRIPTION:     #{ENV['HEROKU_SLUG_DESCRIPTION']}"

    - else
      %p This site runs locally.

  .row
    %h4 We use the following open source technologies:
  .row
    .tech-credit
      .col-sm-4.col-md-2
        %a(title="Ruby on rails" href="http://rubyonrails.org")
          = image_tag("Ruby_on_Rails_logo.jpg")
      .col-sm-8.col-md-4
        %a(title="CoffeeScript" href="http://coffeescript.org")
          = image_tag("CoffeeScript_logo.png")
      .col-sm-4.col-md-2
        %a(title="Sass: Syntactically Awesome Stylesheets" href="http://sass-lang.com")
          = image_tag("sass_logo.svg")
      .col-sm-4.col-md-2
        %a(title="Haml" href="http://haml.info")
          = image_tag("haml_logo.png")
      .col-sm-4.col-md-2
        %a(title="svg" href="http://www.w3.org/Graphics/SVG/")
          = image_tag("SVG_Logo.svg")
      .col-sm-4.col-md-2
        %a(title="datatables" href="https://datatables.net/license/mit")
          = image_tag("datatables_logo.png")
  .row
    We use Font-Awesome
    %i.fa.fa-camera-retro.fa-lg
    and glyphicon (provided by Bootstrap)
    %span.glyphicon.glyphicon-star 
