// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$icon-font-path: 'bootstrap-sass/assets/fonts/bootstrap/';
$navbar-inverse-bg:     #332 !default;  //was #222
$brand-primary:         darken($navbar-inverse-bg, 5%) !default;
$input-border-focus:    $brand-primary;

@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bootstrap/variables';
@import 'leaflet';
@import 'FeedEk';
@import 'vote';

$fa-font-path: '/assets/font-awesome/fonts';
@import 'font-awesome/scss/font-awesome';

@import 'jquery-tokeninput/styles/token-input';
@import 'jquery-tokeninput/styles/token-input-facebook';


// mixins, variables, etc.

$gray-medium-light: #eaeaea;
$white: #fff;




body {
  padding-top: 60px;
}

#logo {
  color:               $white;
  float:               left;
  font-family:         'Black Ops One', $font-family-sans-serif;
  font-size:            1.7em;
  font-variant:        small-caps;
  //font-weight:         bold;
  letter-spacing:      -1px;
  margin-left:         10px;
  padding-top:          9px;
  //margin-top:         5px;
  text-transform:      none;

  &:hover {
    color:           $gray-medium-light;
    font-variant:    normal;
    letter-spacing:  1px;
    text-decoration: none;
    text-transform:  uppercase;
    }
}

.navbar-right {
  margin-right: 5px;
}

footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
      }
    }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.tech-credit {
  margin-top: 15px;

  a {
    margin-left:   16px;
    margin-right:  16px;
  }

  img {
    height:         32px;
    margin-bottom:  15px;
    margin-top:     15px;
	}

}


.col-centered {
  float: none;
  margin: 0 auto;
}

.devise-panel {
  @extend .col-centered;
  @extend .panel;
  @extend .panel-default;
  margin-top: 25px;
  max-width: 55rem;

  & .form-group {

    & .input-group > input {
      @extend .form-control;
    }

    & > label {
      @extend .control-label;
      @extend .col-sm-3;
    }

  }

  &  form > .input-group {
    margin-left: 2rem;

    & > input {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-warning;
    }
  }
}

.modal-body {
  min-height: 450px;
}
/* *****************************************************
 * Datatable
 * *****************************************************/

 #data_sources {
  & a:after{
    @extend .glyphicon;
    content:' \00a0 \e015;';

   }
 }

 /* *****************************************************
  * Simpleform
  * *****************************************************/

.simple_form {
  & .form-inputs {
    & .form-control.select {
      max-width: 160px;
    }

    & .token-input-list-facebook {
      @extend .form-control;
      max-height: 38px;
    }

    & .container {
      padding-left: 0;
    }
  }

  & .form-actions {
    margin-top: 36px;
  }
}

.token-box {
  display: block;
  padding: (($line-height-computed - 1) / 2);
  margin: 0 0 ($line-height-computed / 2);
  font-size: ($font-size-base - 1); // 14px to 13px
  line-height: $line-height-base;
  word-break: break-all;
  word-wrap: break-word;
  color: $pre-color;
  background-color: $pre-bg;
  border: 1px solid $pre-border-color;
  border-radius: $border-radius-base;

  & ul {
    padding: 0;
    //min-height: 16px;
  }

  & .token-input-token-facebook {
    float: none;
    display: inline;
  }
}
