#divVote {
  & p {
    text-align: center;
    margin: 35px auto;
    &.p {
      color:green;
    }
    &.o {
      color:black;
    }

    &.n {
      color:red;
    }

  }

  & .fa {
    margin-right: 15px;
  }
}

.ratings {
  white-space:nowrap;
}
