= form_for @news_category do |f|
  - if @news_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@news_category.errors.count, "error")} prohibited this news_category from being saved:"
      %ul
        - @news_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
