= simple_form_for(@news_rating) do |f|
  = f.error_notification

  .form-inputs
    = f.input :news_source_id
    = f.input :org_id
    = f.input :user_id
    = f.input :rating

  .form-actions
    = f.button :submit
