%h1 Listing news_ratings

%table
  %thead
    %tr
      %th Source
      %th Org
      %th User
      %th Rating
      %th
      %th
      %th

  %tbody
    - @news_ratings.each do |news_rating|
      %tr
        %td= news_rating.news_source_id
        %td= news_rating.org_id
        %td= news_rating.user_id
        %td= news_rating.rating
        %td= link_to 'Show', news_rating
        %td= link_to 'Edit', edit_news_rating_path(news_rating)
        %td= link_to 'Destroy', news_rating, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New News rating', new_news_rating_path
