%footer.footer
  .container
    .row
      .col-sm-8.col-md-6
        %small.nav.navbar-nav
          Is It True by Meetrical (
          = $deploy_version
          ) — &copy; 2016 Meetrical inc.
      .col-sm-4.col-md-6
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "About",   about_path
          %li= link_to "Contact", root_path

    .row
      %p &nbsp;
