%header.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  / navbar starts here *
  .navbar-header
    %button.navbar-inverse.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to (t "site_name", default:"Is it true?"), root_path, id: "logo"
  / navbar-header
  .navbar-collapse.navbar-inverse.collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-left
      %li= link_to (t "home"), root_path
      %li= render 'layouts/resources'

    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        - if can? :access, :rails_admin
          %li=link_to (t 'nav.admin', default:"Admin"), rails_admin_path
        %li= link_to  (t 'nav.edit', default:"Edit profile"),  edit_user_registration_path
        %li= link_to  (t 'nav.logout', default:"Logout"),  destroy_user_session_path, :method => :delete
      - else
        %li=link_to   (t 'nav.login', default:"Log in!"), new_user_session_path

      %li= render 'layouts/locale_selector', controller: controller_name, action: action_name

=# link_to "Is it true?", root_path, id: "logo"
