%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    //= t('.language')
    = t 'nav.resources', default:'Resources'
    %b.caret
  %ul.dropdown-menu
    %li= link_to MesTruc.model_name.human(:count => 2),  mes_trucs_path
    %li= link_to NewsSource.model_name.human(:count => 2), news_sources_path
    %li= link_to Org.model_name.human(:count => 2), orgs_path
